// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Tue Nov  5 16:16:18 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/aes_core_tb.sv"
// file 1 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/aes_sbox_tb.sv"
// file 2 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/aes_spi_tb.sv"
// file 3 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/aes_starter.sv"
// file 4 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/source/impl_1/add_round_key.sv"
// file 5 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/source/impl_1/key_schedule.sv"
// file 6 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/source/impl_1/shift_rows.sv"
// file 7 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/source/impl_1/sub_bytes.sv"
// file 8 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/source/impl_1/top.sv"
// file 9 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 10 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 11 "c:/users/jbowman/desktop/microp-lab7/fpga/radiant_proj/lab7_jb/radiant_lab7_jb/sbox.txt"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 25 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 26 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 27 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 28 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 29 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 30 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 39 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 40 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 41 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 42 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 43 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 44 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 56 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 57 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 58 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 59 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 60 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 61 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module aes
//

module aes (input clk, input sck, input sdi, output sdo, input load, 
            output done);
    
    (* is_clock=1, lineinfo="@3(6[25],6[28])" *) wire clk_c;
    (* is_clock=1, lineinfo="@3(7[25],7[28])" *) wire sck_c;
    
    wire sdi_c, load_c, GND_net;
    
    (* lineinfo="@3(10[25],10[29])" *) IB load_pad (.I(load), .O(load_c));
    (* lineinfo="@3(8[25],8[28])" *) IB sdi_pad (.I(sdi), .O(sdi_c));
    (* lineinfo="@3(7[25],7[28])" *) IB sck_pad (.I(sck), .O(sck_c));
    (* lineinfo="@3(6[25],6[28])" *) IB clk_pad (.I(clk), .O(clk_c));
    (* lineinfo="@3(11[25],11[29])" *) OB done_pad (.I(GND_net), .O(done));
    (* lineinfo="@3(9[25],9[28])" *) OB sdo_pad (.I(GND_net), .O(sdo));
    VLO i1 (.Z(GND_net));
    
endmodule
